.git
.gitignore
.env
.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/hot
public/storage
public/build
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
*.swp
*.swo
.idea
.vscode
.phpunit.result.cache
*.md
!README.md
tests
.editorconfig
.php-cs-fixer.php
phpunit.xml
